---
import type { Elements } from '@kontent-ai/delivery-sdk';
import Icon from '~/2-core-elements/Icon/Icon.astro';
import RichText from '~/components/RichText/RichText.astro';

type Props =
    | {
    title: string;
    content: Elements.RichTextElement;
    isExpanded?: boolean;
}
    | {
    title: string;
    content?: Elements.RichTextElement;
    isExpanded?: boolean;
};

export type AccordionItemProps = Props;

const { title, content } = Astro.props;

const accordionItemClass = `accordion-item${Astro.props.isExpanded ? ' is-open' : ''}`;
---
<div class={accordionItemClass}>
    <div class="accordion-heading">
        <div class="accordion-title">
            <div class="accordion-title-prefix">
                <slot name="title-prefix" />
            </div>
            <div class="title">{title}</div>
            <div class="accordion-icons">
                <Icon icon="plus" iconCustomClass="accordion-icon accordion-icon-plus" />
                <Icon icon="minus" iconCustomClass="accordion-icon accordion-icon-minus" />
            </div>
        </div>
        <button class="accordion-button" type="button" aria-label={title}>
        </button>
    </div>
    <div class="accordion-content">
        <div class="accordion-content-display">
            {content && <RichText richTextInput={content} />}
            <slot />
        </div>
    </div>
</div>

<script>
    const accordionItemHeadingClick = function(this: HTMLElement): void {
        const contentItem = this.closest<HTMLElement>('.accordion-item');
        const contentInner = contentItem?.querySelector<HTMLElement>('.accordion-content-display');
        const content = contentItem?.querySelector<HTMLElement>('.accordion-content');

        if (content && contentInner) {
            if (contentItem?.classList.contains('is-open')) {
                this.setAttribute('aria-expanded', 'false');
                contentItem.classList.remove('is-open');
                content.style.height = `${contentInner.offsetHeight}px`;
                setTimeout(() => {
                    content.style.height = '0px';
                }, 10);
            } else {
                this.setAttribute('aria-expanded', 'true');
                contentItem?.classList.add('is-open');
                content.style.display = 'block';
                setTimeout(() => {
                    content.style.height = `${contentInner.offsetHeight}px`;
                }, 0);
            }
        }
    };

    const accordionItemContentTransitionEnd = function(this: HTMLElement): void {
        if (this.offsetHeight > 0) {
            this.style.height = 'auto';
        }
        if (this.offsetHeight === 0 && !this.closest('.accordion-item.is-open')) {
            this.style.display = 'none';
        }
    };

    const accordionItemInit = (el: HTMLElement): void => {
        const heading = el.querySelector<HTMLButtonElement>('.accordion-heading button');
        const content = el.querySelector<HTMLElement>('.accordion-content');

        heading?.setAttribute('aria-expanded', 'false');
        heading?.addEventListener('click', accordionItemHeadingClick);

        content?.addEventListener('transitionend', accordionItemContentTransitionEnd);

        if (content && el.classList.contains('is-open')) {
            heading?.setAttribute('aria-expanded', 'true');
            const contentHeight = content.querySelector<HTMLElement>('.accordion-content-display')?.offsetHeight;
            content.style.height = `${contentHeight}px`;
        }
    };

    const accordionInit = (): void => {
        const accordionItems =
            document.querySelectorAll<HTMLElement>('.accordion-item');

        if (accordionItems.length > 0) {
            accordionItems.forEach(accordionItemInit);
        }
    };

    const openAccordionFromUrl = (): void => {
        const { hash } = window.location;
        if (hash) {
            const hashElement = document.querySelector(hash);
            if (hashElement?.classList.contains('accordion-item')) {
                const accordionButton = hashElement.querySelector<HTMLElement>('.accordion-title');
                const contentInner = hashElement.querySelector<HTMLElement>('.accordion-content-display');
                const content = hashElement.querySelector<HTMLElement>('.accordion-content');
                if (content && contentInner) {
                    accordionButton?.setAttribute('aria-expanded', 'true');
                    hashElement.classList.add('is-open');
                    content.style.display = 'block';
                    setTimeout(() => {
                        content.style.height = `${contentInner.offsetHeight}px`;
                    }, 0);
                }
            }
        }
    };

    accordionInit();
    openAccordionFromUrl();
</script>
